$orange : #f1c40f;
$font : 15px; 

body{
    background-color: $orange;
    font-size: $font;
    height: $font; 
}

@for $i from 1 through 12 {
    .col-#{$i}{
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
    }
} 