*{
    margin: 0;
    padding: 0;
}



nav {
    background-color: #f1c40f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;

}

